git+https://github.com/PerfectFit-project/niceday_client
rasa==2.8.1 # NB! when updating, make sure to also update:
			# * Rasa version in .env-file.
            # * format of stories, domain.yml etc. if necessary